*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(253, 252, 252);
}

header{
    justify-content: center;
    display: flex;
    background-color:#ffffff ;
    position: fixed;
    width: 100%;
}



.logo{
    width:150px;
    height: 30px;
    padding-left: 50px;
    margin-top: 12px;
    margin-right: 250px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
nav ul li{
    display: inline-block;
    background-color: #ffffff;
    
}
nav a{
    display: block;
    padding: 0 10px;
    color: #000000;
    line-height: 55px;
    font-size: 17px;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
/* Hide Dropdown by Default*/
nav ul ul {
    display: none;
    position: absolute;
    top: 55px;
    
}
/* hover */
nav a:hover{
    background-color:  #F37335;
    ;
}
/* Display Dropdown on Hover */
nav ul li:hover > ul {
    display: inherit;

}
/* Fisrt Tier Dropdown */
nav ul ul li{
    width: 140px;
    float: none;
    display: list-item;
    position: relative;
    
}

.arrow{
    width: 11px;
    margin-left: 5px;
    color: #000000;
}

.button {
    border: none;
    color: #ffffff;
    background-color: #F37335;
    padding:  0.6rem  0.6rem;
    margin-top:12px ;
    margin-left: 260px;
    font-weight: 600;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(./tech2job.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    /* margin-bottom: 50px; */
    
}

h2{
    padding-top: 250px;
    text-align: center;
    color: #ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:60px;
    padding-bottom: 15px;
}

p{
    text-align: center; 
    color: #ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}




.course-details{
    width: 820px;
    height: 300px;
    border: 2px solid #CCCCCC;
    margin-left: 290px;
    margin-top: 30px;
    background-color: #ffffff;
    
}

h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 40px;
    padding-top: 39px; 
}

.horizontal-line {
    width: 730px;
    height: 2px; 
    background-color:  #CCCCCC;
    margin: 17px auto; 
}

.details{
    text-align: left;
    color: #000000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 780px;
    padding-left: 40px;
    margin-bottom: 35px;
}

.course{
    text-align: center;
    margin-top: 88px;
    font-size: 33px;
}

.varieties{
    color: #000000;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.subjects{
    display: flex;
    flex-wrap: wrap;
    margin-left: 125px;
}

.card {
    width: 330px; /* You can use 'Fill' here */
    height: 420px; /* You can use 'Hug' here */
    padding: 12px;
    border: 1px solid #CCCCCC; /* 1px border, change color as needed */
    margin: 16px; /* This adds a 16px gap around the card */
  }
  
  .card-image {
    max-width: 100%; /* Set the image to take half the width of the card */
    max-height: 75%; /* Allow the image to take the full height of the card */
    object-fit: cover; /* Ensure the image fits the space without distortion */
  }
  
  .card-content {
    margin-top: 5px;
  }

  .card-content h4{
    font-size: 15px;
    font-weight: bold;
    display: inline;
    margin-inline: 20px;
  }

  .card-content p{
    color: #000000;
    text-align: left;
    font-size: small;
    margin-top: 7px;
    line-height: 20px;
  }

  .card-content div{
    display: inline-flex;
    
  }
  
  .card-content div .price{
    font-size: medium;
    margin-top: 19px;
  }
  
  .card-content button{
    border: 1px solid #F37335;
    color: #000000;
    font-weight: 600;
    background-color: #ffffff;
    padding:  0.6rem  0.6rem;
    margin-left: 136px;
    margin-top: 13px;
    transition:  0.3s, color 0.3s;
  }

  .card-content button a{
    text-decoration: none;
    color: #000000;
  }

  .card-content button:hover {
  background-color: #F37335; /* Change background color on hover */
  color: #ffffff; /* Change text color on hover */
}

.card-content  a:hover {
    background-color: #F37335; /* Change background color on hover */
    color: #ffffff; /* Change text color on hover */
  }

  .more{
    margin-bottom: 40px;
    margin-left: 90px;
    font-size:xx-large
  }
    
.platforms{
    display: inline-flex;
    margin-left: 110px;
    /* margin-bottom: 40px; */
}

  .box1 {
    width: 300px;
    height: 300px;
    background-color: #cccccc; /* Add your desired background color */
    border: none;
    margin-inline: 28px;
    background-image: url(small\ corp.jpg);
    background-size:cover;
  }
  
  .box2 {
    width: 300px;
    height: 300px;
    background-color: #cccccc; /* Add your desired background color */
    border: none;
    margin-inline: 28px;
    background-image: url(small\ job.jpg);
    background-size:cover;
  }

  .box3 {
    width: 300px;
    height: 300px;
    background-color: #cccccc; /* Add your desired background color */
    border: none;
    margin-inline: 28px;
    background-image: url(little\ kids.jpg);
    background-size:cover;
  }
  
  .explore{
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
    margin-inline: none;
    font-size: larger;
    margin-left: 10px;
  }

  .arrow-up{
    padding-top: 276px;
    
  }

  .container8{
    display: flex;
    justify-content: space-around;
    background-color: #F37335;
    color: white;
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
    padding:   4px; 
  }
  
  footer {
    background-color: #000000;
    padding-bottom: 50px;
    
  }
  
  .footer-allign {
    display: flex;
    align-items: center; /* Center vertically */
    padding-top: 40px;
  }
  
  .leu {
    width: 150px;
    height: 30px;
    margin-left: 90px; /* Add margin to separate the logo from the list */
    margin-right: 490px;
  }
  
  footer ul {
    list-style: none;
    position: relative;
  }
  
  footer ul li {
    display: inline-block;
  }
  
  footer li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0 10px;
    line-height: 55px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  footer ul ul {
    display: none;
    position: absolute;
    top: 55px;
  }
  
  .drop {
    width: 14px;
    margin-left: 5px;
    color: white;
  }
  
  footer ul ul li {
    width: 140px;
    float: none;
    display: list-item;
    position: relative;
  }
  
  footer a:hover {
    background-color: #F37335;
  }
  
  /* Display Dropdown on Hover */
  footer ul li:hover > ul {
    display: inherit;
  }
  
  .line {
    width: 1200px;
    height: 1.2px;
    background-color: white;
    margin: 20px auto; /* Center the line horizontally */
    margin-top: 150px;
  }
  
  .cookies{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }